/********************************************************************/
/* RESPONSIVE MEDIA QUERY 											*/
/********************************************************************/
/* LARGE DESKTOP */
@media (min-width: 1367px) {
}

/* LARGE DESKTOP */
@media (max-width:1366px) {
}

/* NORMAL DESKTOP */
@media(max-width:1199px) {
	.bpgtip{left:0;}
	#bpgtipcontent{top:200%; left:-15px; height:auto; min-width:200px; font-size:12px;}
	#bpgtipcontent:after{top:-24px; border-color: transparent transparent #E0C48F transparent; }
	#bpgmodal h2{font-size:1.231em;}
}

/* PORTRAIT PHONES */
@media (max-height: 650px){
	html{overflow-x:hidden;}
	html, body, #wrapper{display: block; position: relative; width: 100%; height:100%; min-height: 650px;}
	#header, #main, #footer{position:absolute;}
}

/* TABLET AND PHONES */
@media (max-width: 1080px) {
	html, body, #wrapper{min-height:0;}

	.large, h1{font-size:1.333em; margin-bottom:1em;}
	.medium, h2{font-size:1.167em; margin-bottom:0.5em;}
	.normal, h3 {font-size:1.083em; margin-bottom:0.5em;}			
	.normal, h4, h5, h6{font-size:1em;}					
	.content{width:718px;}

	#header, #slider-container, #main, #footer{position:relative; top:auto; left:auto; right:auto; bottom:auto; width:auto; min-height:0; height:auto;}
		#slider-container .slider-image-container{position:relative; width:100%; height:auto;}
			#slider-container .flexslider{height:auto;}
				#slider-container .slider-image-container img{width:100%; height:auto;}

	#main-menu-container{margin-bottom:0;}
		#main-menu{position:relative; width:100%; margin:0 auto; bottom:0;}
			#main-menu ul li{display:block; position:relative; text-align:center; margin:0;}
			#main-menu .sub-menu{position:relative; top:auto; left:auto;}
				#main-menu .sub-menu li a{text-align: center;}
			
	#cta-container{display:block; position:absolute; background:#111; left:5%; top:180%; width:250px;}
	#cta-container .control-wrapper{display:block;}
	#bpg-container { right: 5%; bottom: auto; left:auto; top:10%; z-index:25;}	
	#bpgmodal h2{font-size:1.231em;}
	.bpgtip #bpgtipcontent{top:150%; left:0; min-height:140px; width:100%;}
	#bpgtipcontent:after{border-color:transparent transparent #E0C48F transparent; left:45%; top:-24px;}

	#main{max-height: none;}
		#main-container{padding:20px;}

	.image-container{width:300px; margin:0 auto 1em;}
	.visible-layer{display:none;}
	.hide-layer{display:block;}
}
		
/* LANDSCAPE PHONE TO PORTRAIT TABLET */
@media (max-width: 767px) {
	.content{width:500px;}
	#main-menu-container{border-bottom:1px solid #fff;}
	#cta-container{position:relative; left:auto; top:auto; width:auto;}
}
 
/* LANDSCAPE PHONES AND DOWN */
@media (max-width:570px) {
	.content{width:320px;}
	.image-container{width:auto; margin:0 auto 1em;}
}

/* PORTRAIT PHONES */
@media (max-width: 480px) {
	.content{width:280px;}
}