body {background:#F7EFDF; font-size:13px; color:#000; font-family:'Muli', sans-serif;}
h1, h2, h3{ font-family:inherit; }
h1 { font-size:1.846em; color:#996600;}
h2 { font-size:1.538em; color:#996600;}
h3 { font-size:1.231em; color:#996600;}
a, a:hover { color:#000; }

#wrapper{display:block; position:relative; width:100%; height:auto; margin:0 auto;}

	.ie8 .content, .ie7 .content{width:1100px;}
	.content{position:relative; width:1100px; margin:0 auto;}
	.content:after{content:""; display:block; position:relative; clear:both;}

	#header{display:block; position:absolute; width:100%; height:auto; z-index:130;
			background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.02) 96%, rgba(255,255,255,0) 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(96%,rgba(255,255,255,0.02)), color-stop(100%,rgba(255,255,255,0)));
			background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.02) 96%,rgba(255,255,255,0) 100%);
			background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.02) 96%,rgba(255,255,255,0) 100%);
			background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.02) 96%,rgba(255,255,255,0) 100%);
			background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.02) 96%,rgba(255,255,255,0) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); }
		#header-container{display:block; position:relative;}
		
			#main-menu-container{display:block; position:absolute; right:0; top:1em; z-index:100;}
			#main-menu{background:transparent; position:relative; width:100%;}				
				#main-menu > ul{position:relative; height:auto; width:auto; margin:0 auto; text-align:center; font-size:0;}
				.ie7 #main-menu > ul, .ie8 #main-menu > ul{font-size:inherit;}
					#main-menu > ul  li{display:inline-block; position:relative; text-align:center; list-style:none; font-size:1rem;}
						#main-menu > ul li a{display:block; position:relative; text-decoration:none; padding:50px 1em 25px; background:transparent; color:#996600;}
						#main-menu > ul li.current-menu-item a, #main-menu > ul li a:hover {color:#fff; 
																							background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.12) 6%, rgba(245,239,229,0.18) 9%, rgba(209,185,139,1) 50%, rgba(165,119,29,1) 100%);
																							background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(6%,rgba(255,255,255,0.12)), color-stop(9%,rgba(245,239,229,0.18)), color-stop(50%,rgba(209,185,139,1)), color-stop(100%,rgba(165,119,29,1)));
																							background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.12) 6%,rgba(245,239,229,0.18) 9%,rgba(209,185,139,1) 50%,rgba(165,119,29,1) 100%);
																							background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.12) 6%,rgba(245,239,229,0.18) 9%,rgba(209,185,139,1) 50%,rgba(165,119,29,1) 100%);
																							background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.12) 6%,rgba(245,239,229,0.18) 9%,rgba(209,185,139,1) 50%,rgba(165,119,29,1) 100%);
																							background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.12) 6%,rgba(245,239,229,0.18) 9%,rgba(209,185,139,1) 50%,rgba(165,119,29,1) 100%);
																							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#a5771d',GradientType=0 );}
				#main-menu .sub-menu{position:absolute; margin:0; padding:0;}		
					#main-menu .sub-menu li{text-align:left; list-style:none;}
						#main-menu .sub-menu li a{padding:3px 6px;}

			#logo-container {padding:1em}
				#logo-container .logo{display:block; position:relative;}			
	
	#slider-container{display:block; position:relative; width:100%; overflow:hidden; z-index:100;}
	.ie7 #slider-container, .ie8 #slider-container{width:1366px; margin:0 auto;}
		#slider-container .slider-content{width:auto;}
			#slider{width:auto;}
				.slider-image-caption{display:block; position:absolute; bottom:0; height:auto; width:100%; text-align:left; background:rgba(0,0,0,0.4); color:#999; }
					.slider-image-caption p{margin-bottom:0; padding:8px;}
	
	#cta-container{color:#fff; z-index:120; position:relative; bottom:0; width:100%; text-align: center;
		background:rgba(176,136,57,0.75); 
		-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#BFB08839,endColorstr=#BFB08839)"; 
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BFB08839,endColorstr=#BFB08839); 
		zoom:1; }

		.ie9 #cta-container {filter:none;}
			.ui-datepicker {background:#ddd; border:1px solid #D1A243;}
			.ui-datepicker-header {background:#ffffff; color:#000000;}
			.ui-state-default { color:#252525;}
			.ui-datepicker-unselectable span { color:#777;}
			.ui-datepicker-current-day a {color:#b86709;}
			.ui-datepicker-today a {color: #BD9E56;}
			 
	#main{display:block; position:relative;}
		#main-container{display:block; position:relative; padding:10px;}
			#primary{display:block; position:relative;}
				#primary-header{position:relative; width:100%; height:auto; z-index:30;}
				#primary-main{position:relative; width:auto; z-index:20; padding:20px;}
				#primary-footer{position:relative; z-index:10;}

	#footer{display:block; position:relative; background:#A67E32; height:100px; color:#fff;}	
		#footer-container{display:block; position:relative;}
			#footer-container .content p{margin:0;}
			#footer-container .content a {color:#fff;}
				#copyright-container{text-align:center;}
				#secondary-menu-container{float:left; display:block; position:relative; padding:6px 0;}
					#secondary-menu{background:transparent; display:block; position:relative; width:auto;}
						#secondary-menu ul{display:block; position:relative; width:auto; margin:0 auto; text-align:left; font-size:0;}
							#secondary-menu ul li{display:inline-block; position:relative; text-align:center; font-size:0.7rem;}
								#secondary-menu ul li a{display:block; position:relative; text-decoration:none;  margin-right:4px; padding-right:4px; border-right:1px solid;}
								#secondary-menu ul li:last-child a{border-right:none;}