/********************************************************************/

/* RESPONSIVE MEDIA QUERY 											*/

/********************************************************************/

/* LARGE DESKTOP */

@media (min-width: 1367px) {
  .content {
    width: 1100px;
  }
  #slider-container {
    max-width: 1960px;
    margin: 0 auto 1em;
  }
}
/* LARGE DESKTOP */

@media (max-width: 1366px) {
  .content {
    width: 1100px;
  }
}
/* NORMAL DESKTOP */

@media (max-width: 1199px) {
  .content {
    width: 960px;
  }
  .bpgtip {
    left: 0;
  }
  #bpgtipcontent {
    top: 200%;
    left: -15px;
    height: auto;
    min-width: 200px;
    font-size: 12px;
  }
  #bpgtipcontent:after {
    top: -24px;
    border-color: transparent transparent #e0c48f transparent;
  }
  #bpgmodal h2 {
    font-size: 1.231em;
  }
}
/* TABLET AND PHONES */

@media (max-width: 979px) {
  body {
    font-size: 12px;
  }
  .large,
  h1 {
    font-size: 1.333em;
  }
  .medium,
  h2 {
    font-size: 1.167em;
    margin-bottom: 0.5em;
  }
  .normal,
  h3 {
    font-size: 1.083em;
    margin-bottom: 0.5em;
  }
  .normal,
  h4,
  h5,
  h6 {
    font-size: 1em;
  }
  .content {
    width: 718px;
  }
  #header {
    height: auto;
    position: relative;
  }
  #header-container {
    display: block;
    position: relative;
  }
  #main-menu {
    text-align: center;
  }
  #header-container .content {
    width: auto;
  }
  #header-main {
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    border: none;
  }
  #logo-container {
    padding: 0;
  }
  #logo-container .logo {
    padding: 10px 0;
  }
  #cta-container {
    display: block;
    position: relative;
  }
  #cta-container .cta-title-container {
    background: #111111;
  }
  #google_translate_element {
    position: relative;
    margin: 0 0;
  }
  #footer {
    height: auto;
  }
  #menu-primary-top {
    min-height: 0;
  }
  #main-menu > ul {
    position: relative;
    right: 0;
    float: none;
  }
  #promo-tabs {
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float: none;
    border-bottom: 0;
  }
  #promo-tabs li {
    width: 100%;
  }
  .footer-popup {
    position: static;
    box-shadow: none;
  }
  .footer-popup .popup-header {
    margin-bottom: 20px;
    box-shadow: 0 0 13px rgba(35, 31, 32, 0.7);
  }
}
/* LANDSCAPE PHONE TO PORTRAIT TABLET */

@media (max-width: 767px) {
  .content {
    width: 500px;
  }
  .image-container {
    width: auto;
    margin: 0 auto 1em;
  }
  .visible-layer {
    display: none;
  }
  .hide-layer {
    display: block;
  }
  #footer .content {
    width: auto;
  }
  #header .content {
    width: auto;
    padding: 0;
  }
  #header {
    position: relative;
  }
  #rmenu {
    background: #111111;
    color: white;
  }
  #main-menu {
    background: #a9a596;
    position: relative;
    width: 100%;
    margin: 0 auto;
    bottom: 0;
  }
  #main-menu ul li {
    display: block;
    position: relative;
    text-align: center;
    margin: 0;
  }
  #main-menu .sub-menu {
    position: relative;
  }
  #main-menu .sub-menu li a {
    text-align: center;
  }
}
/* LANDSCAPE PHONES AND DOWN */

@media (max-width: 570px) {
  .content {
    width: auto;
    padding: 0 1em;
  }
  .image-container {
    width: auto;
    margin: 0 auto 1em;
  }
  #google_translate_element {
    text-align: left;
    margin-bottom: 1em;
  }
  #bpg-container {
    right: 5%;
    bottom: auto;
    left: auto;
    top: 10%;
    z-index: 25;
  }
  #bpgmodal h2 {
    font-size: 1.231em;
  }
  .bpgtip #bpgtipcontent {
    top: 150%;
    left: 0;
    min-height: 140px;
    width: 100%;
  }
  #bpgtipcontent:after {
    border-color: transparent transparent #e0c48f transparent;
    left: 45%;
    top: -24px;
  }
}
/* PORTRAIT PHONES */

@media (max-width: 480px) {
  
}
