/* TAB MENU */
.tab-menu{display:block; position:relative; margin:0; list-style:none;}
.tab-menu:after{content:""; display:block; position:relative; clear:both;}
.tab-menu li{float:left; margin:0;}
.tab-menu li a{background:#ffffff; display:block; padding:5px 15px; color:#000000;  border:1px solid #777; text-decoration:none;}
.tab-menu li a:hover, .tab-menu li a.active{background:#777; color:#fff;}
.tab-container{display:none; background:#777; padding:15px; color:#000; margin-bottom:1.5em;}
