/********************************************************************/
/* RESPONSIVE MEDIA QUERY 											*/
/********************************************************************/
/* LARGE DESKTOP */
@media (min-width: 1367px) {
	.content{width:980px;}
	#slider-container{max-width:1960px; margin:0 auto;}	
}
	
/* LARGE DESKTOP */
@media (max-width:1366px) {
	.content{width:980px;}
}

/* NORMAL DESKTOP */
@media(max-width:1199px) {
	.content{width:980px;}
	.bpgtip{left:0;}
	#bpgtipcontent{top:200%; left:-15px; height:auto; min-width:200px; font-size:12px;}
	#bpgtipcontent:after{top:-24px; border-color: transparent transparent #E0C48F transparent; }
	#bpgmodal h2{font-size:1.231em;}
}

/* TABLET AND PHONES */
@media (max-width: 979px) {
	body{font-size:12px;}
	.large, h1{font-size:1.333em; margin-bottom:1em;}	
	.medium, h2{font-size:1.167em; margin-bottom:0.5em;}
	.normal, h3 {font-size:1.083em; margin-bottom:0.5em;}			
	.normal, h4, h5, h6{font-size:1em;}					
	
	.content{width:auto;}
	
	#header{height:auto; position:relative;}
	#logo-container{display:block; position:relative; text-align:center;}
	#main-menu-container{position:relative; bottom:auto; right:auto;}

	#slider-container{min-height:0;}
	
	#secondary-menu-container{float:none; margin-bottom:1em;}
	#secondary-menu ul{text-align:center;}
	
	#social-media-container{float:none; text-align:center;}
	#footer{height:auto;}
}
		
/* LANDSCAPE PHONE TO PORTRAIT TABLET */
@media (max-width: 767px) {
	.content{width:500px;}

	#header{margin:0;}
		#main-menu{background:#51B1EC; position:relative; width:100%; margin:0 auto; bottom:0;}
			#main-menu ul li{display:block; position:relative; text-align:center; margin:0;}
			   #main-menu .sub-menu{position:relative;}
				   #main-menu .sub-menu li a{text-align: center;}

		#logo-container{width:auto; float:none;}
		#logo-container .logo{margin:0 auto; padding:1em 0;}
		#slider{width:auto; float:none;}

	#sidebar-container{float:none; width:auto;}
		#cta-container .control-wrapper{display:block; position:relative; padding:0; margin:0 0 1em;}
	#main-container{float:none; width:auto;}
		#primary{padding:1em 0;}

	.image-container{width:300px; margin:0 auto 1em;}
	.visible-layer{display:none;}
	.hide-layer{display:block;}
}
 
/* LANDSCAPE PHONES AND DOWN */
@media (max-width:570px) {
	#cta-container{position:relative; right:auto; bottom:auto;}
	.flex-control-nav {display:none;}
	.content{width:320px;}

	.image-container{width:auto; margin:0 auto 1em;}
	
	#bpg-container { right: 5%; bottom: auto; left:auto; top:10%; z-index:25;}	
	#bpgmodal h2{font-size:1.231em;}
	.bpgtip #bpgtipcontent{top:150%; left:0; min-height:140px; width:100%;}
	#bpgtipcontent:after{border-color:transparent transparent #E0C48F transparent; left:45%; top:-24px;}
}

/* PORTRAIT PHONES */
@media (max-width: 480px) {
	.content{width:280px;}
}