.field-content-container {
    .field-input {
        &.theme-template-select {
            width: 55%;
            margin: 0;
            display: inline-block;
            position: relative;
        }

        &.theme-template-controller {

        }

        &.theme-themplate-cb-label {

        }
    }

}

