@mixin breakpoint($point) {
    /* default mediaquery */
    @if $point == lg {
        @media (min-width:1920px) { @content; }
    }
    @else if $point == md {
        @media (max-width:1200px) { @content; }
    }
    @else if $point == sm {
        @media (max-width: 992px) { @content; }
    }
    @else if $point == wpxs {
        @media (max-width: 782px) { @content; }
    }
    @else if $point == xs {
        @media (max-width: 767px) { @content; }
    }
}

@mixin transition( $parameter ) {
    transition: $parameter;
    -webkit-transition: $parameter;
    -moz-transition: $parameter;
}

