.tab-title-container {
    position: relative;
    display: block;
    background: #32373B;


    .title {
        position: relative;
        display: inline-block;
        padding: 12px 15px;
        text-decoration: none;
        color: $white;
        font-size: 18px;

        &.active,
        &:hover,
        &:focus  {
            background: $white;
            color: $black;

        }
    }
}

.tab-content-container {
    background: darken(#fff, 2%);
    padding: 15px;
    position: relative;
    .tab-content {
        display: none;
        &.active {
            display: block;
        }

        .container-content {
            > .description {
                padding: 6px 30px;
                background: #B2D6E6;
                color: #0055FF;
                margin-bottom: 1em;
                &:before {
                    font-family: dashicons;
                    content: "\f534";
                    position: absolute;
                    top: 0;
                    left: 5px;
                    width: 20px;
                    height: 30px;
                    line-height: 30px;
                    font-size: 20px;
                }
            }
        }
    }
}