@media (max-width:1366px) {
	.content{width:1170px;}
}
@media(max-width:1199px) {
	.content{width:960px;}
	.column-left{float:none; width:auto; height:auto;}
	.column-right{float:none; position:absolute; right:0; top:0; width:44%; height:100%; background:rgba(255, 255, 255, 0.6); color:#000;}
		.column-right .promo-details-container{padding:20px 20px 0;}
		.column-right .cta-container{padding:0 20px;}
}
@media (max-width: 979px) {
	.content{width:718px;}
	.column-right{position:relative; right:auto; top:auto; width:auto; height:auto; background:transparent;}
	.column-right:after{content:""; display:block; position:relative; clear:both;}
		.column-right .promo-details-container{width:42%; float:left; padding:20px 0; vertical-align:top;}
		.column-right .cta-container{width:50%; float:right; padding:20px 0;}
}
@media (max-width: 767px) {
	.content{width:500px;}
	.control-wrapper{width:auto; margin-bottom:1em; text-align:center; display:block;}
	.column-right .promo-details-container{display:block; width:auto; float:none; padding:20px 0 0 0;}
	.column-right .cta-container{display:block; width:auto; float:none; padding:0;}
}
@media (max-width:570px) {
	.content{width:auto;}
	.cta-date-remaining{float:none; width:auto;}
	.cta-calendar-container{float:none; width:auto;}
		.calendar-label{width:auto;}
		.calendar-input{width:auto;}
}
@media (max-width: 480px) {
	.content{width:auto;}
}
