
.tbl-admin
{
	width: 100%;
	border: 1px solid #ccc;

}

.tbl-admin th
{
	border: 1px solid #ccc;
	padding: 4px;
	margin: 0;
	background: #0074a2;
	color: #FFF;
}

.tbl-admin tr td
{
	border-bottom: 1px solid #ccc;
	padding: 4px;
	vertical-align:top;
	width: 50%;

}

.tbl-admin .section-title
{
	color:#0074a2;
}

.tbl-admin tr td:nth-child(2n+2)
{
	text-align: center;
	vertical-align: middle;
}

.tbl-admin img
{
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
  display: block;
  width: 550px;
}



/*.tbl-admin tr:nth-child(even) {background: #dbdbdb; color: #000;}
.tbl-admin tr:nth-child(odd) {background: #FFF; color: #000;}
*/