/********************************************************************/
/* THEME OPTIONS  													*/
/********************************************************************/
input.text-upload{position:relative; width:250px; margin-bottom:1em;}
.button-remove{line-height:28px;}
.simple-table td{padding:0; vertical-align:top; margin-bottom:0; line-height:1;}

/********************************************************************/
/* EDITOR CONTENT													*/
/********************************************************************/
.row-fluid{margin-bottom:10px;}
[class*="span"]{background:#fcfcfc; padding:10px; border:1px solid #ddd;}