.dwh-tab-wrapper {
	display: block;
	position: relative;

	.tab-title-container {
		display: block;
		position: relative;
	
		.tab-title-list {
			display: block;
			position: relative;
			list-style: none;
			margin: 0;
			padding: 0;

			&:after {
				display: block;
				position: relative;
				content: '';
				clear: both;
			}

			.item-title {
				display: inline-block;

				.tab-link {
					display: block;
				}

				&.item-active {
					.tab-link {

					}
				}
			}
		}
	}

	.tab-content-container {
		display: block; 
		position: relative;
		.item-content {
			display: none;
			&.item-active {
				display: block;
			}
		}
	}
}

.dwh-accordion-wrapper {
	display: block; 
	position: relative;
	.accordion-list {
		display: block;
		position: relative;
		margin: 0;
		padding: 0;
		list-style: none;

		.accordion-item {
			display: block;
			position: relative;

			.item-title {
				display: block;
				position: relative;			
			}

			.item-content {
				display: block;
				position: relative;			
			}
		}
	}
}

.dwh-select-wrapper {
	display: block;
	position: relative;
	.select-title-container {
		display: block;
		position: relative;
		.item-title {
			display: block;
			position: relative;
		}
	}

	.select-content-container {
		display: block;
		position: relative;
		.item-content {
			display: none;
			&.item-active {
				display: block;
			}
		}
	}
}

.dwh-dropdown-wrapper {
	.dropdown-selected-container {
		.dropdown-selected {
			display: block;
			text-decoration: none;
			color: #000;	
		}
	}

	.dropdown-title-container {
		.dropdown-list {
			list-style: none;
			margin: 0;
			padding: 0;
			.dropdown-link {
				color: #000;
				text-decoration: none;
				display: block;
			}
		}
	}

	.dropdown-content-container {
		.item-content {
			display: none;
			&.item-active {
				display: block;
			}
		}
	}
}
