/* Fonts */
$primaryfont    : sans-serif;;
$secondaryfont  : serif;

$normal         : 400;
$semibold       : 600;
$bold           : 700;

/* Colors */
$primarycolor   : #0084C5;
$secondarycolor : #F77B21;
$linkcolor      : #0084C5;

/* Base Color */
$white          : #ffffff;
$black          : #000000;

/* Font Size */
$large          : 22px;
$medium         : 18px;
$regular        : 16px;
$base           : 14px;
$small          : 10px;

/* spacing */
$spacing        : 20px;

/* path */
$templateurl    : get_template_directory_uri();