/********************************************************************/
/* RESPONSIVE MEDIA QUERY 											*/
/********************************************************************/
/* LARGE DESKTOP */
@media (min-width: 1367px) {
	.content{width:1170px;}
}
	
/* LARGE DESKTOP */
@media (max-width:1366px) {
	.content{width:1170px;}
}

/* NORMAL DESKTOP */
@media(max-width:1199px) {
	.content{width:960px;}
}

/* TABLET AND PHONES */
@media (max-width: 979px) {
	.content{width:718px;}
	body{padding: 0;}
	#logo-container a img{width:auto;}
	#cta-container{display: block; width: 100%; padding: 0 0 4px; top: auto; bottom:0; border-top: 2px solid #cccccc; background: #f0f0f0; -webkit-box-shadow:none; box-shadow: none;}
	 	#cta-container .cta-content{width:80%; margin:0 auto; padding:1em 0;}
	 	#cta-container .control-wrapper{margin: 0 auto 0.5em; display:block; text-align: center;}
		#cta-container .cta-calendar-container{padding: 0 0 5px; display:inline-block; width:45%;}
	    #cta-container .calendar-input input{width:auto; display: block;}
	    #cta-container .ctabutton{padding: 8px 10px;}
	   	#cta-container .cta-moc-container{width: auto;}
	   	#cta-container .cta-title-container{margin: 0;}
	#sidebar{position: relative; width: auto; top: 10px;}
	#content-section{top: 25px; width: auto; margin: 0 auto;}
	#wrapper{position: relative; margin: 0 0 180px;}
	#rmenu{font-size: 0; text-indent: -999999px;}
	#main-menu > ul{margin: 0; padding: 4px 0 0; border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc;}
	#main-menu > ul li{display:inline-block; margin:0 15px}
	#main-menu > ul li:after a{content: "/"; display: inline-block; padding: 0 4px 0 6px; }
	
	#bpgtipcontent{top:auto; bottom:200%; left:-252px;}		
	#bpgtipcontent:after{border-color: #E0C48F transparent transparent transparent; top:100%; left:auto; right:10px;} 
}
		
/* LANDSCAPE PHONE TO PORTRAIT TABLET */
@media (max-width: 767px) {
	.content{width:500px;}
	#cta-container .cta-calendar-container{padding: 0 0 5px; display:block; width:45%;}
	#cta-container .calendar-input input{width:100%;}
	#wrapper{position: relative; margin: 0 0 200px; }
} 
/* LANDSCAPE PHONES AND DOWN */
@media (max-width:570px) {
	.content{width:auto;}
	#main{padding:0 1em;}
	#cta-container .cta-calendar-container{display:inline-block;}
	#cta-container{top: auto; bottom: 0;}
	#header-menu-container ul.menu-list li:after{content: " ";}
}

/* PORTRAIT PHONES */
@media (max-width: 480px) {
	#main-menu > ul{text-align: center;}
}