body{font-size:13px; color:#252525; font-family:sans-serif;}
h1, h2, h3{ font-family:inherit; color:#333333; }
h1 { font-size:1.846em; }
h2 { font-size:1.538em; }
h3 { font-size:1.231em; color:#fff;}
a { color:#fff; } a:hover { color:#fff; }

#wrapper{display:block; position:relative; width:100%; height:auto; margin:0 auto;}
	.ie8 .content, .ie7 .content{width:940px;}
	.content{position:relative; margin:0 auto; padding:10px; width:940px;}
		.content:after{content:""; display:block; position:relative; clear:both;}

	#header{display:block; position:relative;}
		#header-container{padding:10px}
	
	#main{display:block; position:relative; width:auto;}
		#main-container{padding:10px;}

			#sidebar{color:#fff; float:left; width:310px; z-index:100; position:fixed; text-align:center; background:#111;}
				#sidebar-container{padding:10px;}

					#logo-container{display:block; position:relative; margin-bottom:1em;}
						.logo{display:block; text-align:center;}

			#primary{float:right; width:620px; z-index:50;}
				#primary-header{position:relative; width:100%; height:auto; z-index:30;}
					#main-menu ul{position:relative; list-style:none; margin:0;}
						#main-menu ul li{display:inline-block;}
							#main-menu li a {display:block; padding:5px 10px; background:#999; color:#252525; font-size:1em; text-decoration:none;}
							#main-menu li a:hover ,#main-menu li.current-menu-item a {background:#BA3F1D; color:#fff;}

				#primary-main{background:#fff; position:relative; width:auto; z-index:20; padding:0;}
					.entry-header, .entry-content, .entry-footer{margin-bottom:1em; padding:0 20px;}
					.entry-footer{padding:20px;}

				#primary-footer{position:relative; z-index:10;}
			
	#footer{background:#111; color:#fff; display:block; position:relative; text-align:center;}
		#footer-container:after{display:block; position:relative; clear:both;}
			#footer .copyright{float:right; width:620px;}			

.button{font-family: helvetica, sans-serif; text-decoration: none; display: inline-block; position: relative; font-size: 14px; cursor: pointer; color: #000000 !important; padding: 15px 10px; line-height: 18px; text-align: center; vertical-align: middle; margin: 0; border: 1px solid #cccccc; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-weight: bold; box-shadow: 0px 1px 1px #333; -moz-box-shadow: 0px 1px 1px #333; -moz-box-shadow: 0px 1px 1px #333; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background-color: #faa732; background-image: -moz-linear-gradient(top, #fbb450, #f89406); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406)); background-image: -webkit-linear-gradient(top, #fbb450, #f89406); background-image: -o-linear-gradient(top, #fbb450, #f89406); background-image: linear-gradient(to bottom, #fbb450, #f89406); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0); border-color: #f89406 #f89406 #ad6704; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);}
.bpgcheck{background-position:0 top;}


.entry-header{text-align:center;}
		.entry-title{margin-bottom:0.5em;}
		.tagline{font-size:1.234em;}

	.entry-list{display:block; position:relative; margin-bottom:2em;}

	.promo-details-container{margin-bottom:1em;}
		
	.row-item{background:#777; display:block; position:relative; width:auto; color:#fff;}
	.row-item:after{content:''; display:block; position:relative; clear:both;}
		.row-top{position:relative; display:block; margin-bottom:1em;}
			.slider-container{padding:10px; overflow:hidden;}
				.list-slider{display:block; position:relative; margin:0;}
					.list-slider li{list-style:none;}	
					.image-caption, .image-content{position:absolute; bottom:0;}

		.row-bottom{position:relative; display:block; padding:0 20px;}
			.cta-container .cta{margin:0;}
			.cta-container .control-wrapper{display:block; position:relative; width:auto; vertical-align:middle; margin:0; padding:0 0 1em;}
			.cta-container .control-wrapper:after{content:''; display:block; position:relative; width:auto; clear:both;}
				.cta-calendar-wrapper{display:block; text-align: center;}
					.cta-date-remaining{background:#666; display:inline-block; position:relative; width:auto; padding:5px;}
						.cta-date-remaining p{font-weight:bold; margin:0;}
						.cta-date-remaining span{font-weight:bold;}
					
					.cta-calendar-container{display:inline-block; position:relative; width:auto;}
						.calendar-label{display:inline-block; position:relative; text-align:center; min-width:0;}
						.calendar-input{display:inline-block; position:relative; padding:5px 2px; }
				
				.cta-button-container{display:block; width:auto; margin:0 auto; text-align:center;}
					.ctapromobutton{padding:10px 0; width:98%;}
					.ctaexpiredbutton{background: #666; color: #fff !important;}