@media (max-width:1366px) {
	.content{width:940px;}
}
@media(max-width:1199px) {
}
@media (max-width: 979px) {
	body{font-size:12px;}
	.large, h1{font-size:1.333em; margin-bottom:1em;}
	.medium, h2{font-size:1.167em; margin-bottom:0.5em;}
	.normal, h3{font-size:1.083em; margin-bottom:0.5em;}
	h4, h5, h6{font-size:1em;}
	.content{width:718px;}
	#sidebar{width:310px;}
	#primary{width:400px}
}
@media (max-width: 767px) {
	.content{width:500px;}
	#main-container{padding:0;}
	#sidebar{width:auto; float:none; margin:0; padding-bottom:1em; position:relative !important;}
	#primary{width:auto; float:none; margin:0 0 1em;}
		#primary-header{position:absolute; top:0; left:0; z-index:100;}
		#main-menu{background:#d6d6d6; display:block; position:relative; width:100%; margin:0 auto; bottom:0;}
			#main-menu ul li{display:block; position:relative; text-align:center;}
	.copyright{float:none; width:auto;}
	.image-container{width:300px; margin:0 auto 1em;}
	.visible-layer{display:none;}
	.hide-layer{display:block;}
	.flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
	.flex-direction-nav .flex-next { opacity: 1; right: 10px;}

	.control-wrapper{width:auto; margin-bottom:1em; text-align:center; display:block;}
	.column-right .promo-details-container{display:block; width:auto; float:none; padding:20px 0 0 0;}
	.column-right .cta-container{display:block; width:auto; float:none; padding:0;}

}
@media (max-width:570px) {
	#header-container{display:none;}
	#primary-header{position:fixed;}
	.content{width:320px;}
	.image-container{width:auto;}

	.cta-date-remaining{float:none; width:auto;}
	.cta-calendar-container{float:none; width:auto;}
		.calendar-label{width:auto;}
		.calendar-input{width:auto;}

}
@media (max-width: 480px) {
	.content{width:280px;}
}