@font-face {
    font-family: 'ParsekCTTRegular';
    src: url('parsekctt.eot');
    src: url('parsekctt.eot') format('embedded-opentype'),
         url('parsekctt.woff2') format('woff2'),
         url('parsekctt.woff') format('woff'),
         url('parsekctt.ttf') format('truetype'),
         url('parsekctt.svg#ParsekCTTRegular') format('svg');
}
